<!DOCTYPE html>
<html lang="en">

<head>
<<<<<<< HEAD
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    @Html.Partial("_Styles")

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
=======
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  @Html.Partial("_Styles")

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
>>>>>>> 0641eec8b871546eb8cb60b6758f909ba7f46f93
</head>

<body>

<<<<<<< HEAD
    <!-- ======= Header ======= -->
    @Html.Partial("_Header")

    <!-- ======= Menú vertical ======= -->
    @Html.Partial("_SidebarMenu")

    <main id="main" class="main">

        @RenderBody()

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    @Html.Partial("_Footer")


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    @Html.Partial("_Scripts")

=======
  <!-- ======= Header ======= -->
    @Html.Partial("_Header")

  <!-- ======= Menú vertical ======= -->
    @Html.Partial("_SidebarMenu")

  <main id="main" class="main">

      @RenderBody()


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
    @Html.Partial("_Footer")

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    @Html.Partial("_Scripts")
  
>>>>>>> 0641eec8b871546eb8cb60b6758f909ba7f46f93
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>